<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pe.mascotapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".components.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mascotapp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".vistas.profile.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".vistas.alert.AlertActivity"
            android:exported="false" />
        <activity
            android:name=".vistas.fragments.home.FilterActivity"
            android:exported="false"
            android:label="@string/title_activity_filter" />
        <activity
            android:name=".vistas.profile.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".vistas.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".vistas.AnimationLoading"
            android:exported="true"
            android:theme="@style/Theme.Mascotapp.WhiteTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vistas.PetDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Mascotapp.SkyTheme" />
        <activity
            android:name=".vistas.ReminderActivity"
            android:exported="false"
            android:theme="@style/Theme.Mascotapp.SkyTheme" />
        <activity
            android:name=".vistas.reminder.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".vistas.fragments.stepRegister.SelectBreedActivity"
            android:exported="false"
            android:theme="@style/Theme.Mascotapp.SkyTheme" />
        <activity
            android:name=".vistas.DetailServiceActivity"
            android:exported="false"
            android:theme="@style/Theme.Mascotapp.SkyTheme" />
        <activity
            android:name=".vistas.CarosuelTutorialActivity"
            android:exported="false" />
        <activity
            android:name=".vistas.LoadingActivity"
            android:exported="false" />
        <activity
            android:name=".vistas.ListSelectedActivity"
            android:exported="false" />
        <activity
            android:name=".vistas.RegisterStepOneActivity"
            android:exported="false" />
        <activity
            android:name=".vistas.MarketDetailActivity"
            android:exported="false" />
        <activity
            android:name=".vistas.MarketPlaceCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".vistas.MarketPlaceActivity"
            android:exported="false" />
        <activity
            android:name=".vistas.JourneyTipoOneThankYouActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".vistas.JourneyTipoOneRegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".vistas.JourneyTipoOneActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".vistas.StartActivity"
            android:exported="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".vistas.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".vistas.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vistas.CarosuelRegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mascotapp.WhiteTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".vistas.RegistroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vistas.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mascotapp.WhiteTheme" />

        <receiver
            android:name=".notifications.AlarmReceiver"
            android:enabled="true" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>